/*캐릭터 이름 크기 조정*/
.actor.sheet .crb-style header.char-header .char-details h1.char-name input[type=text], .actor.sheet .crb-style header.char-header .char-details h1.char-name span.non-editable {
    font-size: var(--font-size-21);
	font-weight: 600;
}

/*캐릭터 성향 크기 조절*/
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .character-details .alignment select {
	line-height: 2;
}

/*현재 HP 칸 안맞는 현상 수정*/
element.style {
}
.actor.sheet .crb-style aside .sidebar .hitpoints .hp-big .container.current-hp {
    padding: 10px 10px 0;
}

/*현재 HP 글자 크기 수정*/
.actor.sheet .crb-style aside .sidebar .hitpoints .hp-big .container.current-hp .data-value input[type=number] {
    font-size: var(--font-size-30);
	    width: 46px;
}

/*글짜 크기 수정*/
element.style {
}
.crb-style .details-label {
    font-size: 0.66rem;
}

/*능력치 부분 단어 글자 수정*/
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .ability-scores .ability .ability-id {
    font: 600 17px var(--serif-condensed);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .ability-scores .ability .ability-name {
	opacity: .6;
}

/*통찰력 칸 수정*/
.crb-style select {
	line-height: 1.16;
}

/*수정칸 수정*/
.crb-hover .tooltipster-box .tooltipster-content .hover-content ul .item .tag-legacy {
	width: auto;
}


/*능력 분배 수정*/
.ability-builder-popup .window-content h3 {
	font-size: 1.40rem;
	font-weight: 600;
}

.ability-builder-popup .window-content .title {
	font-size: 0.7rem;
}

.ability-builder-popup .window-content .hint-container label {
    font-size: 0.8rem;
}

/*액션 수정*/
.app.sheet.actor p, .pf2e p {
    font-size: 0.83rem;
}

dd {
    font-size: 0.83rem;
}

/*주화 부분 수정*/
li.label {
    width: 34%;
}

/*패스파인더 소사이어티 수정*/
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.pfs>section.reputations .reputation {
	width: 14em;
}

/*재주안에 배경 수정*/
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.feats .feat-item .item-name .feat-slot-title {
	width: 34px;
}